apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "relay-balancer.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
